  /* dropdown content */  
  .dropdown-content {
    display: flex;
    flex-direction: row;
    width: 100vw;
    position: absolute;
    left: 0;
    z-index: 3;
    transition: 0.3s ease all;
    transform: translate(-10%, 11%);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  }
  
  .dropdown-col1 {
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    padding: 60px;
    gap: 40px;
    width: 60%;
  }
  
  .dropdown-col2 {
    display: flex;
    flex-direction: row;
    padding: 40px;
    width: 40%;
    background-color: #f4f4f4;
    gap: 40px;
  }
  
  .dropdown-col1-li {
    padding-bottom: 20px;
    cursor: pointer;
  }
  
  .dropdown-button {
    border: none;
    background-color: #f45369;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    color: #ffffff;
  }
  
  
 
  .dropdown-col1-li:hover{
    color:#f45369;
  }



