/* Menu Section */
  .main-menu {
    background-color: #E8ECF1;
    padding-inline: 8%;
    padding-block: 1.5%;
  }
  
  .menu-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
  .menu-a {
    font-size: 13px;
    color: #2e3131;
    margin: 13px;
    text-decoration: none;
  }
  
  .menu-li {
    position: relative;
    display: inline-block;
  }
  .menu-button {
    width: 100px;
    padding: 5px;
    background-color: #f45369;
    border-radius: 8px;
    border: none;
  }
  


  