@media screen and (max-width: 768px) {
  /* Header Section */
  .main-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 0px;
    padding-inline: 20px;
    padding-block: 20px;
  }

  .bank-logo {
    width: 170px;
  }

  .main-navigation {
    display: none;
  }

  .mobileButton{
    position: absolute;
    top: 20px;
    right: 20px;
   }

  /* Menu Section */
  .main-menu {
    display: none;
  }

  /* Banner Section */
  .promo-banner {
    padding-top: 220px;
    padding-bottom: 140px;
  }

  .promo-banner-container {
    flex-direction: column;
    gap: 0px;
  }

  .banner-image {
    position: absolute;
    bottom: 370px;
    padding-bottom: 20px;
  }
  .banner-image1{
    width: 300px;
  }

  .banner-p {
    font-size: 10px;
  }

  .banner-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .banner-section-chevron1 {
    left: 30px;
    top: 330px;
  }

  .banner-section-chevron2 {
    right: 30px;
    top: 330px;
  }

  /* Operation Section */
  section.quick-operations {
    flex-direction: column;
    width: 95%;
    padding: 0px;
    position: absolute;
    top: 630px;
    left:15px;
  }

  .operation-item {
    width: 95%;
    height: 90px;
    display: flex;
    flex-direction: row;
    padding: 0px;
    margin: 10px;
    padding-left: 20px;
  }

  .operations-a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  /* Calculator Section */
  .calculator-section {
    padding: 20px;
  }

  .calc-container {
    flex-direction: column;
  }

  .calc-left {
    width: 100%;
    padding-bottom: 60px;
  }

  .calc-right {
    width: 100%;
  }

  /* Card Section */
  .cards-info {
    padding: 360px 10px 160px 10px;
  }

   .cards-section-bottom {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  } 

  .cards-section-button {
    width: 100%;
  }
  

  .cards-section-ul {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 210px;
    text-align: center;
  }

  .cards-section-image {
    bottom: 420px;
    right: auto;
  }

  .cards-section-heading-p2 {
    font-size: 16px;
    width: 100%;
    color: #2e3131;
  }
  .cards-section-chevron1 {
    left: 20px;
    top: 30px;
  }
  
  .cards-section-chevron2 {
    right: 20px;
    top: 30px;
  }
  .credit-cards {
    padding-top: 200px;
  }


  /* Cash Loan Section */
  .loan-info {
    padding: 40px 10px 160px 10px;
  }

  .cash-loan-section-li {
    padding-right: 0px;
  }
  .cash-loan-section-button {
    width: 100%;
  }

  .cash-loan-section-image {
    bottom: 380px;
    right: auto;
  }

  .cash-loan-section-bottom {
    justify-content: center;
    
  }
  
  .cash-loan-section-ul {
    flex-direction: column;
   
    padding-top: 210px;
    text-align: center;
  }


  /* Information Section */
  .info-section1 {
    flex-direction: column;
    margin-bottom: 40px;
  }

  .online-payment {
    width: 100%;
    padding: 20px 20px 160px 20px;
    border-top-right-radius: 0px 0px;
    border-bottom-right-radius: 0px 0px;
  }  

  .hr-opportunities {
    width: 100%;
    padding: 20px 20px 160px 20px;
    border-top-left-radius: 0px 0px;
    border-bottom-left-radius: 0px 0px;
  }

  /* News Section */
  .latest-news {
    padding: 20px 0px 0px 0px;
  }

  .news-col {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
  }

  .news-heading {
    justify-content: space-between;
    padding-inline: 20px;
  }

  /* Currency Calculator Section */
  .currency-calculator {
    padding: 30px 15px 10px 15px;
  }

  .currency-calculator-col1 {
    display: none;
  }

  .currency-calculator-col2 {
    width: 100%;
  }

  .currency-information-col1-p3 {
    padding: 30px 0px 30px 0px;
  }

  .currency-calculator-input {
    width: 100%;
  }

  /* Footer Section */
  .main-footer {
    width: 100%;
    height: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;

    align-items: flex-start;
  }

  .footer-container {
    padding-inline: 0%;
    padding-block: 0%;
  }
 

  .row-footer {
    flex-wrap: wrap;
  }

  .footer-qr-code,
  .footer-title2 {
    display: none;
  }

  .footer-row-logo {
    flex-wrap: wrap;
    width: 90%;
   
  }

  .col {
    width: 35%;
    height: auto;
  }

  .footer-row {
    flex-direction: column;
    padding-bottom: 0px;
    justify-content: center;
    align-items: center;
  }

  .footer-line {
    margin-top: 30px;
    margin-bottom: 30px;
    width: auto;
  }

  .b1 {
    padding-top: 30px;
    width: 90%;
    text-align: center;
  }

  .b2{
    width: 90%;
    text-align: center;
  }

  .footer-main-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footer-social-list {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
 
 
  .calc-right-button {
    padding: 10px;
    width: 100%;
    height: auto;
  }
}



@media (min-width: 768px) and (max-width: 1024px) { 
  .main-header {
    padding-inline: 20px;
    padding-block: 20px;
  }
  .main-menu {
    display: none;
  }
  .bank-logo {
    width: 170px;
  }
  .mobileButton{
   position: absolute;
   top: 20px;
   right: 20px;
  }
 
  .promo-banner {
    padding: 30px 20px 130px 20px;
  }
  .banner-image1{
    width: 400px;
  }

  /* Operation Section */
  section.quick-operations {
    top: 430px;
    left:15px;
  }
  /* Card Section */
  .cards-info {
    padding: 580px 10px 160px 10px;
  }

  .cards-section-bottom {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .cards-section-button {
    width: 100vw;
  }

  .cards-section-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .cards-section-ul {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 210px;
    text-align: center;
  }

  .cards-section-image {
    bottom: 400px;
    right: 320px;
  }
  .cards-section-heading-p2 {
    font-size: 18px;
    width: 100%;
    color: #2e3131;
  }
  .cards-section-chevron1 {
    left: 50px;
    top: 30px;
  }
  
  .cards-section-chevron2 {
    right: 50px;
    top: 30px;
  }
  .credit-cards {
    padding-top: 200px;
  }


  /* Cash Loan Section */
 
  .loan-info {
    padding: 40px 10px 160px 10px;
    align-items: first baseline;
    justify-content: flex-start;
  }

  .cash-loan-section-bottom {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .cash-loan-section-button {
    width: 100vw;
  }

  .cash-loan-section-image {
    bottom: 380px;
   left: 190px;
  }

  .cash-loan-section-div {
    align-items: center;
    justify-content: center;
  }

  .cash-loan-section-ul {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 210px;
    text-align: center;
  }

  /* Calculator Section */
  .calculator-section {
    padding-inline: 20px;
    padding-block: 20px;
  }

    /* News Section */
    .latest-news {
      padding: 30px 20px 0px 20px;
    }
  
  
    .news-col1 {
      width: 80%;
      margin: 0px;
    }
  
    .news-heading {
      justify-content: space-between;
      
    }
 
   /* Currency Calculator Section */
   .currency-calculator {
    padding: 30px 15px 10px 15px;
  }

  .currency-calculator-col1 {
    display: none;
  }

  .currency-calculator-col2 {
    width: 100%;
  }

  .currency-information-col1-p3 {
    padding: 30px 0px 30px 0px;
  }

  .currency-calculator-input {
    width: 340px;
  }
  /* Information Section */
  .info-section1 {
    flex-direction: column;
    margin-bottom: 40px;
  }

  .online-payment {
    width: 100%;
    padding: 20px 20px 160px 20px;
    border-radius: none;
  }



  .hr-opportunities {
    width: 100%;
    padding: 20px 20px 160px 20px;
  }

 
  .information-col1-p2, .information-col2-p2 {
    width: 100%;
  }
  


  /* Footer Section */
  .main-footer {
    width: 100%;
    height: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer-container {
    padding: 0;
  }

  .row-footer {
    flex-wrap: wrap;
  }
  
  .footer-social {
    align-items: center;
    justify-content: center;
  }
  .footer-qr-code,
  .footer-title2 {
    display: none;
  }

  .footer-row-logo {
    flex-wrap: wrap;
    gap: 40px;
  }

  .col {
    height: auto;
    margin: 36px;
  }

  .footer-row {
    flex-direction: column;
    padding-bottom: 0px;
    justify-content: center;
    align-items: center;
  }

  .footer-line {
    margin-top: 30px;
    margin-bottom: 30px;
    width:100%;
  }

  .b1 {
    padding-top: 30px;
    width: 100%;
    text-align: center;
  }

  .footer-main-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

 
 
  .calc-right-button {
    padding: 10px;
    width: 100%;
    height: auto;
  }
  
}


@media only screen and (max-width: 1250px) {
.online-payment-div3 {
  bottom: 0px;
  left: 250px;
}

.hr-opportunities-div3 {
  bottom: 0px;
  left: 250px;
}
}


@media only screen and (max-width: 768px) {
.online-payment-div3 {
  bottom: 0px;
  left: 120px;
}

.hr-opportunities-div3 {
  bottom: 0px;
  left: 130px;
}
}


@media only screen and (min-width: 1600px) {

.promo-banner, .main-menu, .main-header, .credit-cards, .cash-loans, .calculator-section, .hr-opportunities, .online-payment, .latest-news, .currency-calculator {
  padding-inline: 200px;
}

  /* Operation Section */
  .quick-operations {
    top: 650px; 
  }

}



