/* News Section */
.latest-news {
    background-color: #E8ECF1;
    padding: 3% 8% 3% 8%;
    height: auto;
  }
  
 
  .news-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .news-h1 {
    font-size: 36px;
    color: #2e3131;
    font-weight: 600;
    padding-bottom: 16px;
  }
  
  .news-p {
    font-weight: 300;
    color: #F45369;
  }
  
  .news-line {
    background-color: #ffffff;
    height: 2px;
  }
  
  .news-circle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid #F45369;
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }
  .news-circle:hover {
    background-color: #F45369;
  }
  
  .news-col {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .news-col1,
  .news-col2,
  .news-col3 {
    display: flex;
    flex-direction: row;
    width: 25%;
    margin: 40px;
  }
  
  .news-col-left {
    display: flex;
    flex-direction: column;
  }
  
  .news-circle-p1 {
    font-size: 26px;
    text-align: center;
    padding-top: 30%;
    cursor: pointer;
  }
  .news-circle-p1:hover {
    color: #ffffff;
  }
  
  .news-circle-p2 {
    padding-top: 8px;
  }

  
  .news-p2 {
    font-size: 18px;
    padding-left: 40px;
    cursor: pointer;
  }
  .news-p2:hover {
    color: #F45369;
  }